
.fitnessOnline{
    width: 164.21px;
    height: 20px;
    top: 20px;
    left: 40px;
}

.containerInicio {
    display: flex;
    width: 100%;
    height: 100vh;
}

.containerMorado {
    background-color: #7036BA;
    width: 50%;
    color: white;;
    justify-content: center;
    padding: 50px;
    text-align: left;
}

.containerFoto {
    width: 50%;
    background-image: url(../img/pesoMuerto.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;
    justify-content: flex-start; 
    list-style: none; 
    padding: 0;
  }
  
  .nav-item {
    margin-right: 15px; 
    color: white;
  }
  
  .botonContenedor{
    align-items: center;
  }

.botonTraining {
    background-color: #00BFB4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
}


.contenedorBoton{
    text-align: center; 
}

h1{
font-size: 60px;
font-weight: 700;
line-height: 80px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
h4{
font-size: 20px;
font-weight: 700;
line-height: 25px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.aboutUs {
    text-align: center; 
}

.cordones {
    width: 540px;
    height: 324px;  
}

.fondoMorado {
    background-color: #7036BA;
    width: 100%;
    height: auto;
    padding: 50px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.intro {
    font-size: 18px;
    max-width: 800px;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.step {
    text-align: left;
    width: 250px;
    position: relative;
    font-size: 16px
}

.step-number {
    font-size: 75px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    
}

.features {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
}


.feature {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
}

.featureImagen {
    width: 70px;
    height: 73.64px;
    
}

.featureSubtitulos {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.featureParrafo {
    font-size: 14px;
    color: #555;
}

.pricing-container {
    display: flex;
    gap: 30px; 
}

.pricing-box {
    width: 450px; 
    height: 405px; 
    background-color: #A76BF2;
    padding: 15px 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0.8; 
}

h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;

}

.dinero{
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}

.transparent-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.feedback-section {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .feedback-item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
  }
  
  .feedback-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    border: 1px solid white;  
  }
  
  .feedback-text {
    font-size: 16px;
    color: #333;  
    flex: 1;  
  }
  
  .faq {
    background-color: #7036BA;
    width: 100%;
    height: auto;
    padding: 50px 0;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}


footer{
    background-color: #7036BA;
}